.container {
  display: flex;
  position: relative;
  z-index: 0;
  max-height: 50vh;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}

.previous,
.next {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  opacity: .3;
}

.previous:hover,
.next:hover {
  opacity: 1;
  transition: opacity .5s;
}

.previous {
  left: 1rem;
  top: 45%;
}

.next {
  right: 1.2rem;
  top: 45%;
}

.previous::after,
.next::after {
  content: "";
  position: absolute;
  z-index: 5;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.previous::after {
  left: -80%;
  top: -4.5%;
}

.next::after {
  left: -95%;
  top: -4.5%;
}

