.item {
    display: flex;
    flex-wrap: wrap; /*  mobile only */
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.26);
    padding: .2rem .5rem;
    margin: .3rem 0;
}

.item img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.item h3 {
    margin: 0 0 0 .5rem;
    font-size: .5rem;
}

.item button {
    border: 1px solid rgb(177, 131, 139);
    border-radius: 4px;
    background-color: rgb(177, 131, 139);
    color: white;
    padding: .3rem .4rem;
    margin: 0 .5rem 0 auto;
    font-size: .3rem;
}

.item p {
    font-size: .3rem;
    letter-spacing: 0;
    margin: 0;
}

.item p:last-of-type {
    margin-left: .3rem;
}

.textBox {
    display: flex;
}

@media (min-width: 600px) {
    .item {
        flex-wrap: nowrap;
    }
    .textBox {
        flex-direction: column;
    }
    .item p:last-of-type {
    margin-left: 0;
}
}