.card {
  background-color: rgb(29, 27, 27);
  width: 100%;
  padding: 1rem;
}

.card > h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(248, 219, 165);
}

.btnBoard {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  min-height: 50px;
  padding: 0;
}

.btnBoard li {
  margin: 0.5rem;
  background-color: rgb(248, 219, 165);
  border: 1px solid rgb(248, 219, 165);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 0.4rem 1.2rem;
  color: rgb(29, 27, 27);
  font-size: 1rem;
  font-weight: bold;
}

.btnBoard li:hover {
  background-color: rgb(29, 27, 27);
  color: rgb(248, 219, 165);
}

.prodList {
  list-style-type: none;
  display: block;
  padding: 0;
}

.prodList li {
  display: inline-block;
  margin: 0.3rem;
  border: 1.5px dotted rgb(248, 219, 165);
  border-radius: 25px;
  padding: 0.5rem;
  color: rgb(248, 219, 165);
  font-size: 0.5rem;
  animation-name: fade-in;
}

.prodList li:hover,
.prodList li:active {
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}

.prodList h3 {
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .card h2 {
    margin: 1rem;
  }

  .btnBoard li {
    margin: 1rem;
  }

  .btnBoard button {
    font-size: 1.5rem;
  }

  .prodList li {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: .75rem;
  }
}
