.form {
  width: 80%;
  margin: 3rem 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  padding: 1.5rem;
}

.controls {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.controls label {
  display: block;
  font-size: 0.8rem;
  color: rgb(98, 37, 2);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.controls input {
  height: 2rem;
  outline: none;
  border: 1.5px solid rgb(98, 37, 2);
  border-radius: 4px;
}

.controls input:focus {
  border-color: rgb(195, 174, 79);
  background-color: rgb(246, 227, 139);
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  border-radius: 4px;
  border: 1px solid rgb(98, 37, 2);
  background-color: rgb(98, 37, 2);
  color: white;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
}

.actions button:hover,
.actions button:active {
  border: 1px solid rgb(184, 16, 16);
  background-color: rgb(184, 16, 16);
}

.form > p {
  align-self: center;
  color: rgb(49, 23, 1);
  text-align: center;
  font-weight: bold;
  margin: 1rem 0 .5rem;
}

.form > p:last-of-type {
  margin-top: 0;
}

.form > p:hover {
  color: rgb(197, 91, 5);
}

@media (min-width: 500px) {
  .form {
    padding: 2rem;
  }

  .controls {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .controls label {
    margin-bottom: 0;
  }

  .controls input {
    width: 65%;
  }
}

.error label {
  color: red;
}

.error input {
  border-color: red;
  background-color: pink;
}

.error p {
    width: 100%;
    margin-left: .5rem;
    color: red;
    font-size: .3rem;
}

@media (min-width: 625px) {
  .form {
    max-width: 500px;
    margin: 3rem calc((100% - 500px) / 2);
  }
}