.icon {
  position: absolute;
  background-color: grey;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-45deg);
  box-shadow: inset 8px 0 8px -8px rgba(50, 50, 50, 0.26),
    inset 0 -8px 8px -8px rgba(50, 50, 50, 0.26);
}

.icon::after,
.icon::before {
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  border-radius: 50% 50% 0 0;
}

.icon::before {
  top: 0rem;
  left: 1rem;
  transform: rotate(90deg);
  box-shadow: inset 0px 8px 8px -8px rgba(50, 50, 50, 0.26),
    inset -8px 0 8px -8px rgba(50, 50, 50, 0.26);
}

.icon::after {
  top: -1rem;
  left: 0rem;
  box-shadow: inset 0px 8px 8px -8px rgba(50, 50, 50, 0.26),
    inset 8px 0 8px -8px rgba(50, 50, 50, 0.26);
}

.isFav {
  background-color: pink;
}
