.item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  margin: 0.3rem 0;
}

.item img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.item h3 {
  margin: 0 0 0 0.5rem;
  font-size: 0.5rem;
  width: 5rem;
}

.priceBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  margin-left: 1rem;
}

.discount {
  font-size: 0.3rem;
  color: rgb(150, 21, 21);
  margin-right: 0; /* 1rem */
}

.price {
  font-size: 0.3rem;
  letter-spacing: 0;
}

.onSale {
  color: rgb(150, 21, 21);
  font-weight: bold;
}

.actions {
  display: flex;
  margin-left: auto;
}

.actions button {
  font-size: 0.1rem;
  outline: none;
  border: 1px solid rgb(150, 21, 21);
  border-radius: 3px;
  background-color: rgb(150, 21, 21);
  color: white;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.5rem;
  opacity: 0.9;
}

.actions button:last-of-type {
  border-color: rgb(150, 21, 21);
  background-color: white;
  color: rgb(150, 21, 21);
  margin-left: 0.5rem;
}

.actions button:hover {
  opacity: 1;
}

.actions button:last-of-type:hover {
  border-color: rgb(150, 21, 21);
  background-color: rgb(150, 21, 21);
  color: white;
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 315px) {
  .price,
  .discount {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .item h3 {
    width: 3rem;
  }
  .priceBox {
    margin: auto .3rem auto auto;
    letter-spacing: 0;
  }
  .price,
  .discount {
    font-size: 5px;
  }
  .priceBox,
  .actions {
    flex-direction: column;
    align-items: flex-end;
  }
  .actions {
    margin-left: .1rem;
  }
  .actions button {
    width: 3rem;
  }
  .actions button:last-of-type {
    margin-left: 0;
  }
}

@media (min-width: 470px) {
  .priceBox {
    width: 7rem;
  }
}

@media (min-width: 600px) {
  .priceBox,
  .actions {
    flex-direction: column;
  }
  .priceBox {
    align-items: flex-end;
    align-self: flex-end;
    margin-right: 1rem;
    width: auto;
  }
  .discount {
    margin-right: 0;
  }
  .actions button {
    width: 3rem;
  }
  .actions button:last-of-type {
    margin-left: 0;
  }
}
