.path {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0 2rem 0.5rem;
}

.path:hover,
.path:active {
  color: rgb(129, 25, 25);
  transition: color 0.5s;
}

.card {
  max-width: 40rem;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin: 0 1rem;
  padding: 2rem;
  animation-name: fade-in;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card > img {
  display: block;
  margin: 0;
  width: 100%;
  object-fit: contain;
}

.info {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.title > h2,
.info > p {
  display: block;
  text-align: left;
}

.title > h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem;
}

.info > p {
  margin-top: 1rem;
  width: 100%;
}

.favorite {
  position: absolute;
  bottom: 11.5rem;
  right: 5rem;
}

.discount {
  display: block;
  border-radius: 25px;
  margin: 0.5rem 0 1rem 0;
  padding: 0.3rem 0.3rem;
  border: 1px solid rgb(245, 70, 99);
  background-color: rgb(245, 70, 99);
  color: white;
  font-size: 0.5rem;
  align-self: flex-start;
}

.priceBox {
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.priceBox > p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0;
  margin: 0;
}

.priceBox.onSale {
  margin-top: 0;
}

.priceBox.onSale > p:first-of-type {
  text-decoration: line-through;
  font-size: 1rem;
}

.priceBox.onSale > p:last-of-type {
  color: rgb(245, 70, 99);
}

.info > button {
  margin: 1rem auto;
  align-self: center;
  background-color: brown;
  border: 1px splid black;
  border-radius: 4px;
  border-style: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
}

.bump {
  animation: bump 0.3s ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .path {
    font-size: 0.9rem;
    margin: 0 0 1rem 0.5rem;
  }
  .card {
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.26);
    flex-direction: row;
  }
  .card > img {
    margin: 0;
    width: 45%;
  }

  .info {
    min-height: 30rem;
    margin: 0 0 0 1.5rem;
    align-items: flex-start;
  }

  .title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title > h2 {
    font-size: 3rem;
    margin: 1.5rem 0 1rem;
  }

  .info > p {
    width: auto;
    max-width: 80%;
  }

  .favorite {
    align-self: flex-start;
    position: relative;
    left: 18rem;
    top: .5rem;
  }

  .discount {
    align-self: flex-end;
    margin: 0.5rem 0 0 1rem;
  }

  .priceBox {
    padding-bottom: 2rem;
  }

  .priceBox > p {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0;
    margin: 0;
  }

  .info > button {
    margin: 1rem auto;
    align-self: flex-end;
  }
}
